* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto auto 1fr;
}

.main_header {
    background-color: lightcoral;
    border: 1px solid coral;
    height: 200px;
}

.user_header {
    background-color: lightgray;
    border: 1px solid gray;
    height: 200px;
}

.dashboard {
    background-color: #3b82f6;
    grid-row: 1 / 5 ;
}

.content {
    height: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 4fr 1fr;
    gap: 16px;
    background-color: #e5e7eb;
}

.project {
    background-color: lightpink;
    border: 1px solid pink;
    height: 100%;
    grid-row: 1 / -1;
}

.announcement {
    background-color: lightyellow;
    border: 1px solid yellow;
    height: 100%;
}

.trending {
    background-color: lightgreen;
    border: 1px solid green;
    height: 100%;
}